
{% extends "blog/base.html" %}
{% load staticfiles %} <!--最后测试完, 代入真实数据删除-->
{% block title%}
    {{ blog.title }}
{% endblock %}



{% block lanmu %}
    {% for lm in lms %}
        <a href="/blog/lanmu/{{lm.id}}/" target="_blank">{{ lm.lanmu }}</a>
    {% endfor %} 
    <a href="/blog/aboutme/" target="_blank">关于博主</a>
{% endblock %}



{% block content %}
<!--
<div class="l_box f_l">
  
  <p>浏览数: {{ blog.see_num }}</p>
   <p>时间: {{ blog.pub_date }}  所属类别: <a href="/blog/tag/{{ blog.column.id }}/" >{{ blog.column.name }}</a></p>
 <br>
        <h1> {{ blog.title }} </h1>
       </br>
      
        {{ blog.content | safe }}

</div>-->
<div class="l_box f_l">
 
{% include "blog/article.html" %}

  </div>

{% endblock %}

{% block right %}
  {% include "blog/right.html" %}
{% endblock %}