
{% extends "blog/base.html" %}
{% load staticfiles %} <!--最后测试完, 代入真实数据删除-->

{% load blog_tag %}
{% block title%}
    {{ lm.lanmu }} | {{ tag.name }}
{% endblock %}


{% block lanmu %}
    {% for lm in lms %}
        <a href="/blog/lanmu/{{lm.id}}/" target="_blank">{{ lm.lanmu }}</a>
    {% endfor %} 
    <a href="/blog/aboutme/" target="_blank">关于博主</a>
{% endblock %}



{% block content %}

<!-- <span> 随便写点内容 </span> >> <span>父栏目</span> >> <span>标签  </span> -->
<div class="l_box f_l">

    <div class="topnews">
      
      <h2><span>
        {% for tag in tags %}
            <a href="/blog/tag/{{ tag.id }}/" target="_blank">{{ tag.name }}</a>
          {% endfor %}

<!-- 单个Tag 和 单个栏目的作用 -->
        <a href="/blog/tag/{{ tag.id }}/" target="_blank">{{ tag.name }}</a>
  

      <a href="/blog/lanmu/{{ lm.id }}/" target="_blank"><strong>{{ lm.lanmu }}</strong></a>
      
        </span><b>文章</b>推荐</h2>
      
      {% for x in blogs %}
      <div class="blogs">
        <figure><img src="{{ x.pic.url }}"></figure>
        <ul>
          <a href="/blog/detail/{{ x.id }}"> <h3>{{ x.title }}</h3></a>
          <p>{{ x.summary }}</p>
          
          <p class="autor"><span class="lm f_l"><a href="/blog/tag/{{x.column.id}}/">{{ x.column }}</a></span>
          <span class="dtime f_l">{{ x | rq }}</span>
          <span class="viewnum f_r">浏览（<a href="#">{{ x.see_num }}</a>）</span>          
          <span class="pingl f_r">评论（<a href="#">{{ x.comment_num }}</a>）</span></p>
        
        </ul>
      </div>
      {% endfor %}



    </div>
	<!-- 分页代码 -->
		<div class="navigation">
		  <ol class="wp-paginate">
			<li><span class="title">页数:</span></li>

			{% for url in split_page.urls%}
                {% if split_page.page == forloop.counter%}
                   <li><span class="page current">{{ split_page.page }}</span></li>
                {%else%}
              <li><a href="{{ url }}" title={{  forloop.counter }} class="page"> {{forloop.counter}}</a></li>
                {% endif %}
			<!-- <li><span class="page current">1</span></li> -->
            {% endfor %}
              <li><span class="title">当前页数：{{split_page.page}}</span></li>

		  </ol>
		</div>

  </div>
  
  {% endblock%}

{% block right %}
  {% include "blog/right.html" %}
{% endblock %}