
{% extends "blog/base.html "%}
{% load staticfiles %} <!--最后测试完, 代入真实数据删除-->

{% load blog_tag %}
{% block title%}
    {% if request.POST %}
        RSS结果呈现
    {% else %}
        RSS自定义搜索
    {% endif %}
{% endblock %}



{% block lanmu %}
    {% for lm in lms %}
        <a href="/blog/lanmu/{{lm.id}}/" target="_blank">{{ lm.lanmu }}</a>
    {% endfor %} 
    <a href="/blog/aboutme/" target="_blank">关于博主</a>
{% endblock %}



{% block content %}

{% if request.POST %}
<!-- <span> 随便写点内容 </span> >> <span>父栏目</span> >> <span>标签  </span> -->
<div class="l_box f_l">

    <div class="topnews">
      
      <h2><span>
        {% for tag in tags %}
            <a href="/blog/detail/{{ tag.id }}/" target="_blank">{{ tag.name }}</a>
          {% endfor %}


        <a href="/blog/detail/{{ tag.id }}/" target="_blank">{{ tag.name }}</a>
      <a href="/blog/lanmu/{{ lm.id }}/" target="_blank"><strong>{{ lm.lanmu }}</strong></a>
      
      <a href="/blog/RSS/" target="_blank"> <strong>清空搜索页重新搜索</strong> </a>
        </span><b>文章</b>推荐</h2>
      
      {% for x in blogs %}
      <div class="blogs">
        <figure><img src="{{ x.pic.url }}"></figure>
        <ul>
          <a href="/blog/detail/{{ x.id }}"> <h3>{{ x.title }}</h3></a>
          <p>{{ x.summary }}</p>
          
          <p class="autor"><span class="lm f_l"><a href="/blog/tag/{{x.column.id}}/">{{ x.column }}</a></span>
          <span class="dtime f_l">{{ x | rq }}</span>
          <span class="viewnum f_r">浏览（<a href="/">{{ x.see_num }}</a>）</span>          
          <span class="pingl f_r">评论（<a href="/">{{ x.comment_num }}</a>）</span></p>
        
        </ul>
      </div>
      {% endfor %}


    </div>
  </div>

  
{% else %}
 
 <p>类目条件查找</p>
   <div>  {{ error }} </div>
<form action="/blog/rss/" method="post">
 	{% csrf_token %}

	<div class="tag">
	类别{{ form.tag }}
	</div>

    <div class="tag">
	开始时间:{{ form.serach_start }}
	</div>

    	<div class="tag">
	结束时间{{ form.serach_end }}
	</div>

	<div class="tag">
	包含关键词{{ form.title_word }}
	</div>

	<input id="sub" type="submit" value="搜索" >
</form>



    <script src="{% static 'blog/js/laydate.js' %}"></script>
    <script>
        //外部js调用
        laydate({
            elem: '#id_serach_start', //目标元素。由于laydate.js封装了一个轻量级的选择器引擎，因此elem还允许你传入class、tag但必须按照这种方式 '#id .class'
            event: 'focus' //响应事件。如果没有传入event，则按照默认的click
        });


        //外部js调用
        laydate({
            elem: '#id_serach_end', //目标元素。由于laydate.js封装了一个轻量级的选择器引擎，因此elem还允许你传入class、tag但必须按照这种方式 '#id .class'
            event: 'focus' //响应事件。如果没有传入event，则按照默认的click
        });

        //日期范围限制
        /*
        var start = {
            elem: 'id_serach_start',
            format: 'YYYY/MM/DD hh:mm:ss',
            min: laydate.now(), //设定最小日期为当前日期
            max: '2099-06-16 23:59:59', //最大日期
            istime: true,
            istoday: false,
            choose: function (datas) {
                end.min = datas; //开始日选好后，重置结束日的最小日期
                end.start = datas //将结束日的初始值设定为开始日
            }
        };
        var end = {
            elem: 'id_serach_end',
            format: 'YYYY/MM/DD hh:mm:ss',
            min: laydate.now(),
            max: '2099-06-16 23:59:59',
            istime: true,
            istoday: false,
            choose: function (datas) {
                start.max = datas; //结束日选好后，重置开始日的最大日期
            }
        };
        laydate(start);
        laydate(end);
        */
    </script>


{% endif %}	

  
  {% endblock%}

<!-- 右边部分不变 -->


{% block right %}

  <div class="r_box f_r">
    <div class="tit01">
      <h3>关注我</h3>
      <div class="gzwm">
        <ul>
          <li><a class="xlwb" href="#" target="_blank">新浪微博</a></li>
          <li><a class="txwb" href="#" target="_blank">腾讯微博</a></li>
          <li><a class="rss" href="/blog/rss/" target="_blank">RSS</a></li>
          <li><a class="wx" href="mailto:actanble@163.com">邮箱</a></li>
        </ul>
      </div>
    </div>
    <!--tit01 end-->
    <div class="ad300x100"> <img src="{% static 'blog/images/ad300x100.jpg' %}"> </div>
    <div class="moreSelect" id="lp_right_select"> 
      <script>
window.onload = function ()
{
	var oLi = document.getElementById("tab").getElementsByTagName("li");
	var oUl = document.getElementById("ms-main").getElementsByTagName("div");
	
	for(var i = 0; i < oLi.length; i++)
	{
		oLi[i].index = i;
		oLi[i].onmouseover = function ()
		{
			for(var n = 0; n < oLi.length; n++) oLi[n].className="";
			this.className = "cur";
			for(var n = 0; n < oUl.length; n++) oUl[n].style.display = "none";
			oUl[this.index].style.display = "block"
		}	
	}
}
</script>

      <div class="ms-top">
        <ul class="hd" id="tab">
          <li class="cur"><a href="/">点击排行</a></li>
          <li><a href="/">最新文章</a></li>
          <li><a href="/">站长推荐</a></li>
        </ul>
      </div>	  
      <div class="ms-main" id="ms-main">
        <div style="display: block;" class="bd bd-news" >
          <ul>
            {% for x in right.llph %}
            <li><a href="/blog/detail/{{ x.id }}/" target="_blank">{{ x.title }}</a></li>
            {% endfor %}
          </ul>
        </div>
        <div  class="bd bd-news">
          <ul>
            {% for x in right.news %}
            <li><a href="/blog/detail/{{ x.id }}/" target="_blank">{{ x.title }}</a></li>
            {% endfor %}
          </ul>
        </div>
        <div class="bd bd-news">
          <ul>
            {% for x in right.zztj %}
            <li><a href="/blog/detail/{{ x.id }}/" target="_blank">{{ x.title }}</a></li>
            {% endfor %}
          </ul>
        </div>
      </div>
	  
      <!--ms-main end --> 
    </div>
    <!--切换卡 moreSelect end -->
    
    <div class="cloud">
      <h3>标签云</h3>
      <ul>
          
          <!-- for tag in tags -->
        {% for t in right.tags %}
        <li><a href="/blog/tag/{{t.id}}">{{ t.name }}</a></li>
        {% endfor %}

      </ul>
    </div>
    <div class="tuwen">
      <h3>图文推荐</h3>
      <ul>
	  
{% for y in right.twtj %}	  
        <li><a href="/"><img src="{{ y.pic.url }}"><b>{{ y.title }}</b></a>
          <p><span class="tulanmu"><a href="/blog/tag/{{y.column.id}}/">{{ y.column }}</a></span><span class="tutime">2015-02-15</span></p>
        </li>
{% endfor %}
		
		
		
      </ul>
    </div>
    <div class="ad"> <img src="{% static 'blog/images/03.jpg' %}"> </div>
    <div class="links">
	
	
      <h3>友情链接</h3>
      <ul>
        
        {% for fl in right.frend_links%}
            <li><a href="{{ fl.url }}">{{ fl.name }}</a></li>
        {% endfor %}

      </ul>
    </div>
  </div>

{% endblock %}

<!--https://i.cnblogs.com/BlogBackup.aspx-->
<!-- 搜索 ======== 自定义文章搜索 -->

	

